[run]
branch = True
include = tqdm/*
omit =
    tqdm/contrib/bells.py
    tqdm/contrib/discord.py
    tqdm/contrib/telegram.py
    tqdm/contrib/utils_worker.py
relative_files = True
[report]
show_missing = True
