*.py[cod]
*.so
/wiki/
/docs/
/feedstock/

# Packages
tqdm.egg-info
build/
dist/

# Unit test / coverage reports
.tox/
.coverage
__pycache__

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# asv
.asv/
benchmarks/*.py[co]
