*.py[cod]

# C extensions
*.so

# Packages
tqdm.egg-info
build/
dist/
snapcraft.yaml
tqdm_*_amd64.snap
.dockerignore

# Unit test / coverage reports
.tox/
.coverage
__pycache__
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea

# IPython
.ipynb_checkpoints

# asv
.asv/
benchmarks/*.py[co]

# Sumbodules
/wiki/
/docs/
/feedstock/

# MacOS
*.DS_Store
