Casper da Costa-Luis <tqdm@caspersci.uk.to> casperdcl
Stephen Karl Larroque <lrq3000@gmail.com>
Guangshuo Chen <guangshuo.chen@gmail.com> Guangshuo CHEN
Guangshuo Chen <guangshuo.chen@gmail.com> <guangshuo.chen@inria.fr>
Guangshuo Chen <guangshuo.chen@gmail.com> chengs <cgs.sjtu@gmail.com>
Noam Yorav-Raphael <noamraph@gmail.com>
James Lu <CrazyPython@users.noreply.github.com>
Hugo van Kemenade <hugovk@users.noreply.github.com>
Julien Chaumont <git@julienc.io>
Chung-Kai Hung <redbug312@gmail.com>
Greg Gandenberger <greg@gandenberger.org>
Alexander Plavin <alexander@plav.in>
Max Nordlund <max.nordlund@gmail.com>
Darin <darin@omegasoft.org> darindf
Sergei Izmailov <sergei.a.izmailov@gmail.com>
Todd <toddrme2178@gmail.com>
Pablo Zivic <elsonidoq@gmail.com>
Riccardo Coccioli <volans-@users.noreply.github.com>
Albert Kottke <albert.kottke@gmail.com>
Dénes Türei <turei.denes@gmail.com>
