sudo: false
language: python
python: 3.4
branches:
  only:
    - master
    - /^\d\.\d+$/
env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=pypy
  - TOXENV=pypy3
  - TOXENV=flake8
before_install:
  - pip install codecov
install:
  - pip install 'coverage<4'
  - pip install tox coveralls
script:
  - tox
after_success:
  - coveralls
  - codecov
