language: python
matrix:
  include:
  - python: 2.6
    env: TOXENV=py26
  - python: 2.7
    env: TOXENV=py27
  - python: 3.4
    env: TOXENV=py34
  - python: 3.5
    env: TOXENV=py35
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
    dist: xenial
    sudo: true  # required for py37, docker
    services:
    - docker
    after_success:
    - echo "$DOCKER_PWD" | docker login -u $DOCKER_USR --password-stdin
    - make -B docker
    - |
      if [[ -n "$TRAVIS_TAG" ]]; then
      docker tag tqdm/tqdm:latest tqdm/tqdm:${TRAVIS_TAG#v} ; fi
    - docker tag tqdm/tqdm:latest tqdm/tqdm:devel
    - pip install .[dev]
    - make build
    #- make submodules
    #- cd wiki && make && cd ..
    - openssl aes-256-cbc -K $encrypted_a6d6301302b7_key
      -iv $encrypted_a6d6301302b7_iv -in .tqdm.gpg.enc -out .tqdm.gpg -d
    - gpg --import .tqdm.gpg
    - rm .tqdm.gpg
    deploy:
    - provider: script
      script: twine upload -s -i tqdm@caspersci.uk.to dist/tqdm-*
      skip_cleanup: true
      on:
        tags: true
    - provider: releases
      api_key: $GITHUB_TOKEN
      file_glob: true
      file: dist/tqdm-*.whl*
      skip_cleanup: true
      draft: true
      name: tqdm $TRAVIS_TAG stable
      on:
        tags: true
    - provider: script
      script: docker push tqdm/tqdm:${TRAVIS_TAG#v}
      on:
        tags: true
    - provider: script
      script: docker push tqdm/tqdm:latest
    - provider: script
      script: docker push tqdm/tqdm:devel
      on:
        branch: devel
  - python: pypy2.7-5.10.0
    env: TOXENV=pypy
  - python: pypy3.5-5.10.0
    env: TOXENV=pypy3
  - python: 3.6
    env: TOXENV=flake8
  - python: 3.6
    env: TOXENV=setup.py
  - python: 3.6
    env: TOXENV=perf
# use cache for big builds like pandas (to minimise build time).
# If issues, clear cache
# https://docs.travis-ci.com/user/caching/#Clearing-Caches
cache:
  pip: true
  directories:
  - $HOME/.cache/pip
before_cache:
- rm -f $HOME/.cache/pip/log/debug.log
notifications:
  email: false
# branches:  # remove travis double-check on pull requests in main repo
#   only:
#     - master
#     - /^\d\.\d+$/
before_install:
# fix a crash with multiprocessing on Travis
# - sudo rm -rf /dev/shm
# - sudo ln -s /run/shm /dev/shm
- git fetch --tags
install:
- pip install tox
- pip install .
script:
- tox
