# Misc
include .coveragerc
include CONTRIBUTING.md
include LICENCE
include logo.png
# include images/logo.gif
include Makefile
include tox.ini

# Test suite
recursive-include tqdm/tests *.py

# Examples/Documentation
recursive-include examples *.py
include README.rst
include tqdm.1
