# Misc
include .coveragerc
include CONTRIBUTE
include LICENCE
include logo.png
include Makefile
include README.rst
include RELEASE
include tox.ini
# include tqdm.gif # too big...

# Test suite
recursive-include tqdm/tests *.py

# Examples/Documentation
recursive-include examples *
