# Misc
include .coveragerc
include CONTRIBUTING.md
include logo.png
# include images/logo.gif
include Makefile
include tox.ini

# Non-std submodules
recursive-include tqdm/contrib *.py

# Test suite
recursive-include tests *.py
include requirements-dev.txt

# Examples/Documentation
recursive-include examples *.py
include tqdm/tqdm.1
include tqdm/completion.sh
include DEMO.ipynb
